@{
    Layout = null;
}

<!-- Bootstrap Core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!-- Fonts -->
<link href="~/Content/Landingpagecss/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Landingpagecss/animate.css" rel="stylesheet" />

<!-- Squad theme CSS -->
<link href="~/Content/Landingpagecss/style.css" rel="stylesheet" />
<link href="~/Content/Landingpagecss/default.css" rel="stylesheet" />

<style>
    .widget-contact, .address {
        color:white;
    }
    .subtitleNew {
        color: white;
    }
</style>

@*<link href="~/Content/Landingpagecss/camera-slider/camera.css" rel="stylesheet" />*@

<div id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <!-- Preloader -->
    <div id="preloader">
        <div id="load"></div>
    </div>

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#intro">
                    <h1>Navnirman Group</h1>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#intro">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <!--<li><a href="#service">Service</a></li>-->
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("E-Pass Book", "Login", "User")</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Section: intro -->
    <section id="intro" class="">

        @*<div class="slogan">
                <h2>WELCOME TO <span class="text_color">NAVNIRMAN GROUP</span> </h2>
            </div>*@
        <!--<div class="page-scroll">
          <a href="#service" class="btn btn-circle">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
        </div>-->
        @*<div class="container">
                <div class="row">
                    <!-- Carousel -->
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="~/Content/img/Red.jpg" alt="First slide">
                                <!-- Static Header -->
                                <div class="header-text hidden-xs">
                                    <div class="col-md-12 text-center">
                                        <h2>
                                            <span>Goal</span>
                                        </h2>
                                        <br>
                                        <h3>
                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                                        </h3>
                                        <br>
                                    </div>
                                </div><!-- /header-text -->
                            </div>
                            <div class="item">
                                <img src="~/Content/img/blue.jpg" alt="Second slide">
                                <!-- Static Header -->
                                <div class="header-text hidden-xs">
                                    <div class="col-md-12 text-center">
                                        <h2>
                                            <span>Vision</span>
                                        </h2>
                                        <br>
                                        <h3>
                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                                        </h3>
                                        <br>
                                    </div>
                                </div><!-- /header-text -->
                            </div>
                            <div class="item">
                                <img src="~/Content/img/green.png" alt="Third slide">
                                <!-- Static Header -->
                                <div class="header-text hidden-xs">
                                    <div class="col-md-12 text-center">
                                        <h2>
                                            <span>Mission</span>
                                        </h2>
                                        <br>
                                        <h3>
                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                                        </h3>
                                        <br>
                                    </div>
                                </div><!-- /header-text -->
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div><!-- /carousel -->
                </div>
            </div>*@

        <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <!-- indicators -->
            <ol class="carousel-indicators">
                <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                <li data-target="#mycarousel" data-slide-to="1"></li>
                <li data-target="#mycarousel" data-slide-to="2"></li>
            </ol>

            <!-- wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/content/img/red.jpg" alt="chania">
                    <!-- Static Header -->
                    <div class="header-text">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span><strong>Goal</strong></span>
                            </h2>
                            <br>
                            <h3>
                                “To ensure food, water, livelihoods, housing and income security together with a growing quality of life to vulnerable and disadvantaged communities on a sustainable and equitable basis”
                            </h3>
                            <br>
                        </div>
                    </div>
                    <!-- /header-text -->
                </div>

                <div class="item">
                    <img src="~/content/img/blue.jpg" alt="chicago">
                    <!-- Static Header -->
                    <div class="header-text">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span><strong>Vision</strong></span>
                            </h2>
                            <br>
                            <h3>
                                <span>“Communities, especially the women, poor are economical backward class within, are empowered to live in dignity and secure their livelihood in sustainable ecosystems”</span>
                            </h3>
                            <br>
                        </div>
                    </div>
                    <!-- /header-text -->
                </div>

                <div class="item">
                    <img src="~/content/img/green.png" alt="new york">
                    <!-- Static Header -->
                    <div class="header-text">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span><strong>Mission</strong></span>
                            </h2>
                            <br>
                            <h3>
                                <span>“To provide committed development support that motivates, energizes and empowers individuals, groups, communities and other organizations to undertake integrated ecosystems development for enhancement of well being on a sustainable basis”</span>
                            </h3>
                            <br>
                        </div>
                    </div>
                    <!-- /header-text -->
                </div>
            </div>

            <!-- left and right controls -->
            <a class="left carousel-control" href="#mycarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">previous</span>
            </a>
            <a class="right carousel-control" href="#mycarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">next</span>
            </a>
        </div>

    </section>
    <!-- /Section: intro -->
    <!-- Professional Builde -->
    <section class="professional_builder row">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <center>
                                <h2>Core Values</h2>
                                <i class="fa fa-2x fa-angle-down"></i>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row builder_all">
                <div class="col-md-3 col-sm-6 builder">
                    @*<i class="fa fa-home" aria-hidden="true"></i>*@
                    <i>
                        <img src="~/Content/img/ValuesIcons/commitment.png" width="50" height="50" />
                    </i>
                    <h4>Commitment </h4>
                </div>
                <div class="col-md-3 col-sm-6 builder">
                    @*<i class="fa fa-building-o" aria-hidden="true"></i>*@
                    <i>
                        <img src="~/Content/img/ValuesIcons/professionalism.png" width="50" height="50" />
                    </i>
                    <h4>professionalism</h4>
                </div>
                <div class="col-md-3 col-sm-6 builder">
                    @*<i class="fa fa-clock-o" aria-hidden="true"></i>*@
                    <i>
                        <img src="~/Content/img/ValuesIcons/Transparency.png" width="50" height="50" />
                    </i>
                    <h4>Transparency</h4>
                </div>
                <div class="col-md-3 col-sm-6 builder">
                    @*<i class="fa fa-thumbs-up" aria-hidden="true"></i>*@
                    <i>
                        <img src="~/Content/img/ValuesIcons/Inclusiveness.png" width="50" height="50" />
                    </i>
                    <h4>Inclusiveness</h4>
                </div>
            </div>
            <div class="row builder_all">
                <div class="col-md-3 col-sm-6 builder">
                    <i>
                        <img src="~/Content/img/ValuesIcons/Fellowship.png" width="50" height="50" />
                    </i>
                    <h4>Fellowship</h4>
                </div>
                <div class="col-md-3 col-sm-6 builder">
                    <i>
                        <img src="~/Content/img/ValuesIcons/Integrity.png" width="50" height="50" />
                    </i>
                    <h4>Integrity</h4>
                </div>
                <div class="col-md-3 col-sm-6 builder">
                    <i>
                        <img src="~/Content/img/ValuesIcons/selfCritisim.png" width="50" height="50" />
                    </i>
                    <h4>Self-criticism</h4>
                </div>
                <div class="col-md-3 col-sm-6 builder">
                    <i>
                        <img src="~/Content/img/ValuesIcons/Sensitivity.png" width="50" height="50" />
                    </i>
                    <h4>Sensitivity</h4>
                </div>
            </div>
            <div class="row builder_all">
                <div class="col-md-3 col-sm-6 builder">
                    <i>
                        <img src="~/Content/img/ValuesIcons/Humility.png" width="50" height="50" />
                    </i>
                    <h4>humanity</h4>
                </div>
                <div class="col-md-3 col-sm-6 builder">
                    <i>
                        <img src="~/Content/img/ValuesIcons/Creativity.png" width="50" height="50" />
                    </i>
                    <h4>Creativity</h4>
                </div>
                <div class="col-md-3 col-sm-6 builder">
                    <i>
                        <img src="~/Content/img/ValuesIcons/Gender sensitivity.png" width="50" height="50" />
                    </i>
                    <h4>Gender sensitivity</h4>
                </div>
                <div class="col-md-3 col-sm-6 builder">
                    <i>
                        <img src="~/Content/img/ValuesIcons/Equity.png" width="50" height="50" />
                    </i>
                    <h4>Equity</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- End Professional Builde -->
    <!-- Section: about -->
    <section id="about" class="home-section text-center">
        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h2>About us</h2>
                                <i class="fa fa-2x fa-angle-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                    <hr class="marginbot-50">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="wow bounceInUp" data-wow-delay="0.2s">
                        <div class="team boxed-grey">
                            <div class="inner">
                                <div class="row">
                                    <div class="col-md-4" style="text-align-last:end">
                                        <strong>Registration No.</strong>
                                    </div>
                                    <div class="col-md-8">
                                        MH/9120/F – 8338
                                    </div>
                                </div>
                                @*<div class="row">
                                        <div class="col-md-3" style="text-align-last:end">
                                            Pan No.
                                        </div>
                                        <div class="col-md-9">
                                            AAATN6086B
                                        </div>
                                    </div>*@
                                <div class="row">
                                    <div class="col-md-4" style="text-align-last:end">
                                        <strong>GST No.</strong>
                                    </div>
                                    <div class="col-md-8">
                                        27AAATN6086BIZM
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" style="text-align-last:end">
                                        <strong>12A Reg. No.</strong>
                                    </div>
                                    <div class="col-md-8">
                                        C.I.T. I/12-A/N-549/2007-08
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" style="text-align-last:end">
                                        <strong>Niti Aayog</strong>
                                    </div>
                                    <div class="col-md-8">
                                        UID No. MH/2017/0163449
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" style="text-align-last:end">
                                        <strong>Email ID</strong>
                                    </div>
                                    <div class="col-md-8">
                                        navnirmagroup@gmail.com
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" style="text-align-last:end">
                                        <strong>Work Place</strong>
                                    </div>
                                    <div class="col-md-8">
                                        Whole India
                                    </div>
                                </div>
                                @*<h5>Anna Hanaceck</h5>*@
                                @*<p class="subtitle">Pixel Crafter</p>*@
                                @*<div class="avatar"><img src="img/team/1.jpg" alt="" class="img-responsive img-circle" /></div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="wow bounceInUp" data-wow-delay="0.5s">
                        <div class="team boxed-grey">
                            <div class="inner">
                                <h5>Our Partners</h5>
                                <p class="subtitle">Planedge Consultancy Pvt. Ltd. Pune.</p>
                                <p class="subtitle">Nilkamal Constitution & Consultancy Company, Akola.</p>
                                <p class="subtitle">Indo Global Infrastructure Services, Aurangabad.</p>

                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-3">
                        <div class="wow bounceInUp" data-wow-delay="0.8s">
                            <div class="team boxed-grey">
                                <div class="inner">
                                    <h5>Jack Briane</h5>
                                    <p class="subtitle">jQuery Ninja</p>
                                    <div class="avatar"><img src="img/team/3.jpg" alt="" class="img-responsive img-circle" /></div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="wow bounceInUp" data-wow-delay="1s">
                            <div class="team boxed-grey">
                                <div class="inner">
                                    <h5>Tom Petterson</h5>
                                    <p class="subtitle">Typographer</p>
                                    <div class="avatar"><img src="img/team/4.jpg" alt="" class="img-responsive img-circle" /></div>

                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-4">
                    <div class="wow bounceInUp" data-wow-delay="0.2s">
                        <div class="team boxed-grey">
                            <div class="inner">
                                <h5>Bankers Partner</h5>
                                <p class="subtitle">Nabard Financial Services Ltd.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wow bounceInUp" data-wow-delay="0.2s">
                        <div class="team boxed-grey">
                            <div class="inner">
                                <h5>Media Group</h5>
                                <p class="subtitle">Asmi Group</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wow bounceInUp" data-wow-delay="0.2s">
                        <div class="team boxed-grey">
                            <div class="inner">
                                <h5>Event Partner</h5>
                                <p class="subtitle">Infinite Events</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Section: about -->
    <!-- Our Team -->
    <section class="professional_builder row">
        @*<div class="container">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <center>
                                    <h2>Our Team</h2>
                                    <i class="fa fa-2x fa-angle-down"></i>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row builder_all">
                    <div class="col-md-3 col-sm-6 builder">
                        <i>
                            <img src="~/Content/img/ValuesIcons/commitment.png" width="50" height="50" />
                        </i>
                        <h4>Commitment </h4>
                    </div>
                    <div class="col-md-3 col-sm-6 builder">
                        <i>
                            <img src="~/Content/img/ValuesIcons/professionalism.png" width="50" height="50" />
                        </i>
                        <h4>professionalism</h4>
                    </div>
                    <div class="col-md-3 col-sm-6 builder">
                        <i>
                            <img src="~/Content/img/ValuesIcons/Transparency.png" width="50" height="50" />
                        </i>
                        <h4>Transparency</h4>
                    </div>
                    <div class="col-md-3 col-sm-6 builder">
                        <i>
                            <img src="~/Content/img/ValuesIcons/Inclusiveness.png" width="50" height="50" />
                        </i>
                        <h4>Inclusiveness</h4>
                    </div>
                </div>
            </div>*@
    </section>
    <!-- End Our Team -->
    <!-- Our Team Area -->
    <section class="our_team_area">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2>Our Team</h2>
            </div>
            <div class="row team_row">
                <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="team_membar">
                        <img src="~/Content/img/team/1.jpg" alt="">
                        <div class="team_content">
                            <ul>
                                <li>
                                    <h6>Founder &amp; CEO</h6>
                                </li>
                            </ul>
                            <a href="#" class="name">Johnson</a>
                            @*<h6>Web-Developer</h6>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInUp">
                    <div class="team_membar">
                        <img src="~/Content/img/team/2.jpg" alt="">
                        <div class="team_content">
                            <ul>
                                <li>
                                    <h6>Founder &amp; CEO</h6>
                                </li>
                            </ul>
                            <a href="#" class="name">Johnson</a>
                            @*<h6>Founder &amp; CEO</h6>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="team_membar">
                        <img src="~/Content/img/team/3.jpg" alt="">
                        <div class="team_content">
                            <ul>
                                <li>
                                    <h6>Founder &amp; CEO</h6>
                                </li>
                            </ul>
                            <a href="#" class="name">Johnson</a>
                            @*<h6>Founder &amp; CEO</h6>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team_membar">
                        <img src="~/Content/img/team/4.jpg" alt="">
                        <div class="team_content">
                            <ul>
                                <li>
                                    <h6>Founder &amp; CEO</h6>
                                </li>
                            </ul>
                            <a href="#" class="name">Johnson</a>
                            @*<h6>Founder &amp; CEO</h6>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Team Area -->
    <!-- Section: services -->
    <section id="service" class="home-section text-center bg-gray" style="display:none">
        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h2>Our Services</h2>
                                <i class="fa fa-2x fa-angle-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                    <hr class="marginbot-50">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="service-box">
                            <div class="service-icon">
                                <img src="img/icons/service-icon-1.png" alt="" />
                            </div>
                            <div class="service-desc">
                                <h5>Print</h5>
                                <p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <div class="service-box">
                            <div class="service-icon">
                                <img src="img/icons/service-icon-2.png" alt="" />
                            </div>
                            <div class="service-desc">
                                <h5>Web Design</h5>
                                <p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <div class="service-box">
                            <div class="service-icon">
                                <img src="img/icons/service-icon-3.png" alt="" />
                            </div>
                            <div class="service-desc">
                                <h5>Photography</h5>
                                <p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wow fadeInRight" data-wow-delay="0.2s">
                        <div class="service-box">
                            <div class="service-icon">
                                <img src="img/icons/service-icon-4.png" alt="" />
                            </div>
                            <div class="service-desc">
                                <h5>Cloud System</h5>
                                <p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="our_services_area">
        <div class="container">
            @*<div class="tittle wow fadeInUp">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>Our ACHEIVEMENTS</h2>
                        </div>
                    </div>
                    <i class="fa fa-2x fa-angle-down"></i>
                </div>*@
            <div class="heading-contact">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="wow bounceInDown" data-wow-delay="0.4s">
                                <div class="section-heading" style="padding-top:50px">
                                    <center>
                                        <h1 style="color:#fff">ACHEIVEMENTS</h1>
                                        <i class="fa fa-2x fa-angle-down"></i>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio_inner_area">
                <div class="portfolio_filter">
                    <ul>
                        <li data-filter="*" class="active"><a href=""> All</a></li>
                        <li data-filter=".Special_Achivements"><a href="">Special Achivements</a></li>
                        <li data-filter=".Special_Achivement_under_PMAY_Scheme"><a href="">Special Achivement under PMAY Scheme</a></li>
                    </ul>
                </div>
                <div class="portfolio_item">
                    <div class="grid-sizer"></div>
                    <div class="single_facilities col-md-4 col-sm-6 p0 painting photography adversting">
                        <section class="our_achievments_area">
                            <div class="single_facilities_inner">
                                <div class="achievments_row">
                                    <div class=" p0 completed">
                                        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                                        <h4>Walmiki Aambedkar Yojana</h4>
                                        <h6>
                                            Approved Funds - 4005.60 (Lakh)
                                        </h6>
                                        <span class="counter">10014</span>
                                        <h6>Total Families</h6>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="single_facilities col-md-4 col-sm-6 p0 webdesign">
                        <section class="our_achievments_area">
                            <div class="single_facilities_inner">
                                <div class="achievments_row">
                                    <div class=" p0 completed">
                                        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                                        <h4>Lok Awas Yojana</h4>
                                        <h6>
                                            Approved Funds – 150.00 (Lakh)
                                        </h6>
                                        <span class="counter">500</span>
                                        <h6>Total Families</h6>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="single_facilities col-md-4 col-sm-6 painting p0 photography branding">
                        <section class="our_achievments_area">
                            <div class="single_facilities_inner">
                                <div class="achievments_row">
                                    <div class=" p0 completed">
                                        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                                        <h4>IHSDP Yojana</h4>
                                        <h6>
                                            Approved Funds – 12081.78 (Lakh)
                                        </h6>
                                        <span class="counter">13970</span>
                                        <h6>Total Families</h6>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="single_facilities col-md-4 col-sm-6 p0 adversting webdesign adversting">
                        <section class="our_achievments_area">
                            <div class="single_facilities_inner">
                                <div class="achievments_row">
                                    <div class=" p0 completed">
                                        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                                        <h4>Economic Social Survey</h4>
                                        <h6>
                                            Approved Funds - 218285 (Lakh)
                                        </h6>
                                        <span class="counter">43657</span>
                                        <h6>Total Families</h6>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="single_facilities col-md-4 col-sm-6 p0 painting adversting branding">
                        <section class="our_achievments_area">
                            <div class="single_facilities_inner">
                                <div class="achievments_row">
                                    <div class=" p0 completed">
                                        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                                        <h4>Ramaai Awas Yojana</h4>
                                        <h6>
                                            Approved Funds – 7000.00 (Lakh)
                                        </h6>
                                        <span class="counter">2800</span>
                                        <h6>Total Families</h6>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="single_facilities col-md-4 col-sm-6 p0 webdesign">
                        <section class="our_achievments_area">
                            <div class="single_facilities_inner">
                                <div class="achievments_row">
                                    <div class=" p0 completed">
                                        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                                        <h4>Raajiv Awas Yojana</h4>
                                        <h6>
                                            Approved Funds – 2250.00 (Lakh)
                                        </h6>
                                        <span class="counter">500</span>
                                        <h6>Total Families</h6>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="single_facilities col-md-4 col-sm-6 painting p0 photography branding">
                        <section class="our_achievments_area">
                            <div class="single_facilities_inner">
                                <div class="achievments_row">
                                    <div class=" p0 completed">
                                        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                                        <h4>Jalswaraj</h4>
                                        <h6>
                                            Approved Funds - 15.75 (Lakh)
                                        </h6>
                                        <span class="counter">7</span>
                                        <h6>Total Villages</h6>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="single_facilities col-md-4 col-sm-6 p0 adversting webdesign Special_Achivements">
                        <section class="our_achievments_area">
                            <div class="single_facilities_inner">
                                <div class="achievments_row">
                                    <div class=" p0 completed">
                                        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                                        <h4>Rural Sanitation Campaign</h4>
                                        <h6>
                                            Approved Funds – 29.58 (Lakh)
                                        </h6>
                                        <span class="counter">15</span>
                                        <h6>Total Villages</h6>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="single_facilities col-md-4 col-sm-6 p0 painting adversting Special_Achivements">
                        <section class="our_achievments_area">
                            <div class="single_facilities_inner">
                                <div class="achievments_row">
                                    <div class=" p0 completed">
                                        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                                        <h4>Women Empowerment</h4>
                                        <h6>
                                            Approved Funds - 250.00 (Lakh)
                                        </h6>
                                        <span class="counter">200</span>
                                        <h6>Total Savings Group</h6>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="single_facilities col-md-4 col-sm-6 p0 webdesign photography magazine Special_Achivements">
                        <section class="our_achievments_area">
                            <div class="single_facilities_inner">
                                <div class="achievments_row">
                                    <div class=" p0 completed">
                                        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                                        <h4>Housing for Economically Weaker Section (EWS)</h4>
                                        <h6>
                                            Approved Funds - 2550.00(Lakh)
                                        </h6>
                                        <span class="counter">940</span>
                                        <h6>Total Houses</h6>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="single_facilities col-md-4 col-sm-6 p0 painting photography adversting">
                        <section class="our_achievments_area">
                            <div class="single_facilities_inner">
                                <div class="achievments_row">
                                    <div class=" p0 completed">
                                        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                                        <h4>Sant Gagdebaba Cleanliness campaign</h4>
                                        <h6>
                                            Approved Funds – 8.40 (Lakh)
                                        </h6>
                                        <span class="counter">7</span>
                                        <h6>Total Villages</h6>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="single_facilities col-md-4 col-sm-6 p0 webdesign photography magazine adversting">
                        <section class="our_achievments_area">
                            <div class="single_facilities_inner">
                                <div class="achievments_row">
                                    <div class=" p0 completed">
                                        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                                        <h4>Pradhan Mantri Awas Yojana (PMAY)</h4>
                                        <h6>
                                            Approved Funds – 125407.64 (Lakh)
                                        </h6>
                                        <span class="counter">20463</span>
                                        <h6>Total Families</h6>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="single_facilities col-md-3 col-sm-3 p0 webdesign photography magazine Special_Achivement_under_PMAY_Scheme">
                        <section class="our_achievments_area">
                            <div class="single_facilities_inner">
                                <div class="achievments_row">
                                    <div class=" p0 completed">
                                        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                                        <h4>Pradhan Mantri Awas Yojana (PMAY)</h4>
                                        <h6>
                                            Successful implementation of the scheme in
                                        </h6>
                                        <span class="counter">40</span>
                                        <h6>Municipalities of the state.</h6>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="single_facilities col-md-3 col-sm-3 p0 webdesign photography magazine Special_Achivement_under_PMAY_Scheme">
                        <section class="our_achievments_area">
                            <div class="single_facilities_inner">
                                <div class="achievments_row">
                                    <div class=" p0 completed">
                                        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                                        <h4>Pradhan Mantri Awas Yojana (PMAY)</h4>
                                        <h6>
                                            Successful implementation of the scheme in
                                        </h6>
                                        <span class="counter">07</span>
                                        <h6>Municipal Corporation of the state.</h6>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="single_facilities col-md-3 col-sm-3 p0 webdesign photography magazine Special_Achivement_under_PMAY_Scheme">
                        <section class="our_achievments_area">
                            <div class="single_facilities_inner">
                                <div class="achievments_row">
                                    <div class=" p0 completed">
                                        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                                        <h4>Pradhan Mantri Awas Yojana (PMAY)</h4>
                                        <h6>
                                            So far the total project cost is Rs.
                                        </h6>
                                        <span class="counter">125407.64</span>
                                        <h6>crore Approved.</h6>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="single_facilities col-md-12 col-sm-12 p0 webdesign photography magazine Special_Achivement_under_PMAY_Scheme">
                        <section class="our_achievments_area">
                            <div class="single_facilities_inner">
                                <div class="achievments_row">
                                    <div class=" p0 completed">
                                        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                                        <h4>Pradhan Mantri Awas Yojana (PMAY)</h4>
                                        <h6>
                                            Under Vertical - 4 of the scheme, 20436 out of 56 thousand sanctioned houses in the state are sanctioned through the organization.
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    @*<div class="single_facilities col-md-4 col-sm-6 p0 webdesign photography magazine Special_Achivement_under_PMAY_Scheme">
                            <section class="our_achievments_area">
                                <div class="single_facilities_inner">
                                    <div class="achievments_row">
                                        <div class="p0 completed">
                                            <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                                            <h4>SPECIAL ACHEIVEMENTS under PMAY Scheme</h4>
                                            <ul>
                                                <li>
                                                    Successful implementation of the scheme in 40 municipalities of the state.
                                                </li>
                                                <li>
                                                    Successful implementation of the scheme in 07 municipal Councils of the state.
                                                </li>
                                                <li>
                                                    Under Vertical - 4 of the scheme, 20436 out of 56 thousand sanctioned houses in the state are sanctioned through the organization.
                                                </li>
                                                <li>
                                                    So far the total project cost is Rs. 125407.64 crore Approved.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>*@
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Services Area -->

    <footer>
        <div class="container">

            <!-- Section: contact -->
            @*<section id="contact" class="home-section text-center">*@
            <section id="contact" class="">
                <div class="heading-contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="wow bounceInDown" data-wow-delay="0.4s">
                                    <div class="section-heading">
                                        <h2 style="color:white">Get in touch</h2>
                                        <i class="fa fa-2x fa-angle-down"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">

                    <div class="row">
                        <div class="col-lg-2 col-lg-offset-5">
                            <hr class="marginbot-50">
                        </div>
                    </div>
                    <div class="row">
                        @*<div class="col-lg-8">
                                <div class="boxed-grey">

                                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                                    <div id="errormessage"></div>
                                    <form id="contact-form" action="" method="post" role="form" class="contactForm">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="name">
                                                        Name
                                                    </label>
                                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                                    <div class="validation"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">
                                                        Email Address
                                                    </label>
                                                    <div class="form-group">
                                                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                                        <div class="validation"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="subject">
                                                        Subject
                                                    </label>
                                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="name">
                                                        Message
                                                    </label>
                                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-skin pull-right" id="btnContactUs">
                                                    Send Message
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>*@
                        <div class="col-lg-4">
                            <div class="widget-contact">
                                <h5>HEAD OFFICE</h5>
                                <address>
                                    @*<strong>Office Name</strong><br>*@
                                    Flat No. 04, 2nd Floor, Pride Vista, Seven Hills,<br>
                                    Near MRF Tires Showroom, Aurangabad.<br>
                                </address>

                                @*<address>
                                        <strong>Email</strong><br>
                                        <a href="mailto:#">navnirmagroup@gmail.com</a>
                                    </address>*@
                                @*<address>
                                        <strong>We're on social networks</strong><br>
                                        <ul class="company-social">
                                            <li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <li class="social-dribble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                            <li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </address>*@
                            </div>
                            <br />
                            <div class="widget-contact">
                                <h5>REGISTRATION OFFICE</h5>
                                <address>
                                    S – 31 Ganga Nagar, Washim Bypass Road,<br>
                                    Akola, Dist. Akola (Maharashtra).<br>
                                </address>
                            </div>
                        </div>

                        <div class="col-lg-8">
                            <div class="widget-contact">
                                <h5>DIVISIONAL OFFICES</h5>
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="subtitleNew">West Maharashtra</p>
                                        <address>
                                            Loware Ground, Galaxy Square, CTC No. 504, Nanapeth, Jawaharlal Nehru Marg,<br>
                                            Pune.<br>
                                        </address>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="subtitleNew">North Maharashtra</p>
                                        <address>
                                            2nd Row House, Patil Prestige, Sambhaji Chowk, Untwadi Road,<br />
                                            Nashik.<br>
                                        </address>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="subtitleNew">Marathwada</p>
                                        <address>
                                            Flat No. 202, Lahoti Apartment, Chikhalwadi Corner,<br />
                                            Nanded.<br>
                                        </address>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="subtitleNew">Vidarbh</p>
                                        <address>
                                            Suman Ingale Building, Near Shrikrushna Temple, Kedia Plot,<br />
                                            Akola<br>
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <!-- /Section: contact -->

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="wow shake" data-wow-delay="0.4s">
                        <div class="page-scroll marginbot-30">
                            <a href="#intro" id="totop" class="btn btn-circle">
                                <i class="fa fa-angle-double-up animated"></i>
                            </a>
                        </div>
                    </div>
                    <p>&copy; Navnirman Group. All rights reserved.</p>
                    <div class="credits">
                        <!--
                          All the links in the footer should remain intact.
                          You can delete the links only if you purchased the pro version.
                          Licensing information: https://bootstrapmade.com/license/
                          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Squadfree
                        -->
                        Designed by <a href="#">V.T. Technologies</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Core JavaScript Files -->

<script src="~/Scripts/LandingPage/jquery.min.js"></script>

<script src="~/Scripts/LandingPage/isotope/imagesloaded.pkgd.min.js"></script>
<script src="~/Scripts/LandingPage/isotope/isotope.pkgd.min.js"></script>

<script src="~/Scripts/LandingPage/CounterUp/jquery.counterup.min.js"></script>
<script src="~/Scripts/LandingPage/CounterUp/waypoints.min.js"></script>

<script src="~/Scripts/LandingPage/stellar/jquery.stellar.js"></script>

@*<script src="~/Content/Landingpagecss/camera-slider/jquery.easing.1.3.js"></script>
    <script src="~/Content/Landingpagecss/camera-slider/camera.min.js"></script>*@

<script src="~/Scripts/LandingPage/bootstrap.min.js"></script>
<script src="~/Scripts/LandingPage/jquery.easing.min.js"></script>
<script src="~/Scripts/LandingPage/jquery.scrollTo.js"></script>
<script src="~/Scripts/LandingPage/wow.min.js"></script>
<script src="~/Scripts/LandingPage/custom.js"></script>

<script src="~/Scripts/LandingPage/owl.carousel.min.js"></script>

<script src="~/Scripts/LandingPage/theme.js"></script>